{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="user_delete">
        Уверены, что хотите удалить "{{ object.name|title }}" -
        {% if object.description %}
          ({{ object.description|title }})</b>
        {% endif %}
        ?
        <form action="{% url 'admin_staff:category_delete' object.pk %}" method="post">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
          <a href="{% url 'admin_staff:categories' %}">
            Отмена
          </a>
        </button>
    </div>
</main>
{% endblock %}
