{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Категории</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Категории
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Категория</th>
                            <th>Содержание</th>
                            <th>Добавить</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                         {% for category in objects %}
                            <tr {% if not category.is_active %} style="opacity: 0.5;" {% endif %}>
                                <td><a href="{% url 'admin_staff:category_update' category.pk %}" style="color: dodgerblue">{{ category.name|title }}</a></td>
                                <td class="text-center">
                                    <a href="{% url 'admin_staff:category_update' category.pk %}">{{ category.description|title }}</a>
                                </td>
                                <td class="text-center">
                                    <a href="{#% url 'admin_staff:category_update' category.pk %#}">Добавить</a>
                                </td>
                                <td>
                                    <a {% if not category.is_active %} class="invisible" {% endif %} href="{% url 'admin_staff:category_delete' pk=category.id %}">
                                        <i class="fa fa-times-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
               <a href="{% url 'adminapp:category_create' %}" class="btn btn-success">
                    Добавить категорию
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
