{% extends 'my_shop/base.html' %}
{% load static %}

{% block content %}
	{% include 'my_shop/includes/slider.html' %}
		<div class="featured">
			<div class="featured-menu">
					<a class="active" href="#">Популярные</a><a href="#">Новинки</a>
			</div>
			<a class="explore" href="#">показать все <img src="/static/my_shop/img/arrow.png" alt=""></a>
			<div class="clearfix">
			</div>
			<div class="tab-content">
				{% for product in products %}
				<div class="block">
					<a href="#"><img src="/media/{{ product.image }}" alt="">
						<div class="text">
							<img src="/static/my_shop/img/icon-hover.png" alt="img">
							<h4>{{product.shot_desc}}</h4>
							<p>{{product.description}}</p>
						</div> 
					</a>
				</div>
				{% endfor %}
			</div>
		</div>

{% endblock %}