{% extends 'my_shop/base.html' %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="hero-white">
        {% include 'my_shop/includes/header_menu.html' %}
    </div>

    <div class="details">
        <div class="links clearfix">
            <ul class="links-menu">
                <li>
                    <a href="{% url 'products:category' 0 %}" class="
                      {% if request.resolver_match.kwargs.pk == 0 %}
                        active {% endif %}">Всё
                    </a>
                </li>
                {% for link in links_menu %}
                    <li><a href="{% url 'products:category' link.pk %}" class="
                      {% if request.resolver_match.kwargs.pk|add:'0' == link.pk %}
                        active {% endif %}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Товар</th>
          <th scope="col">Количество</th>
          <th scope="col">Сумма</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
      <tbody>
      {% for item in basket %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product.price }}</td>
          <td><a href="{% url 'basket:remove' item.pk %}">X</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}